/*GENERAL*/
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

@font-face {
  font-family: "Shrikhand";
  src: url("../polices/Shrikhand-Regular.ttf");
  font-family: "Roboto";
  src: url("../polices/Roboto-Medium.ttf");
}

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  max-width: 1500px;
  margin: 0 auto 0 auto;
}

a {
  color: black;
  text-decoration: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header img {
  width: 100%;
  padding: 30px 30% 30px 30%;
  -webkit-box-shadow: 3px 0px 6px;
          box-shadow: 3px 0px 6px;
  border: none;
  -o-object-fit: cover;
     object-fit: cover;
  font-size: 10px;
}

header .location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f0f0f0;
  margin-top: 5px;
}

header .location i {
  margin-right: 15px;
}

header .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #f7f7f7;
  padding: 60px 0 60px 0;
  width: 100%;
  height: 450px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

header .title h2 {
  font-size: 30px;
  width: 80%;
  margin: 0;
}

header .title p {
  font-size: 25px;
  color: grey;
  width: 80%;
}

header .title button {
  border-radius: 50px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  width: 300px;
  height: 70px;
  border: none;
  cursor: pointer;
}

header .title button:hover {
  border: 2px solid grey;
  text-decoration: underline;
  color: white;
}

header .title button p {
  color: white;
  font-size: 20px;
  text-align: center;
  margin-left: 30px;
  padding-bottom: 10px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .working {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-bottom: 80px;
}

main .working .block__steps {
  height: 500px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .working .block__steps .step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  width: 90%;
  background-color: #f7f7f7;
  border-radius: 20px;
  padding-right: 25px;
  -webkit-box-shadow: 5px 5px 10px #e0e0e0;
          box-shadow: 5px 5px 10px #e0e0e0;
  font-size: 20px;
}

main .working .block__steps .step .nbr {
  color: white;
  background-color: #9356DC;
  border-radius: 100%;
  padding: 5px 10px 3px 10px;
  z-index: 1;
  margin: 0 15px 0 -15px;
}

main .restaurants {
  background-color: #f7f7f7;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .restaurants .block__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 1100px;
}

main .restaurants .block__card .resto__card {
  width: 90%;
  max-width: 450px;
  border-radius: 25px;
  background-color: white;
  -webkit-box-shadow: 5px 5px 10px #e0e0e0;
          box-shadow: 5px 5px 10px #e0e0e0;
}

main .restaurants .block__card .resto__card img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px 25px 0 0;
  height: 150px;
  width: 100%;
}

main .restaurants .block__card .resto__card .card_info {
  padding-left: 20px;
}
/*# sourceMappingURL=styles.css.map */