/*GENERAL*/
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
@font-face {
    font-family: "Shrikhand";
    src: url("../polices/Shrikhand-Regular.ttf");
    font-family: "Roboto";
    src: url("../polices/Roboto-Medium.ttf");
}
body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    max-width: 1500px;
    margin: 0 auto 0 auto;
}
a {
    color: black;
    text-decoration: none;
}
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary : #99E2D0;

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
        width: 100%;
        padding: 30px 30% 30px 30%;
        box-shadow: 3px 0px 6px;
        border: none;
        object-fit: cover;
        font-size: 10px;
    }
    .location {
        display: flex;
        font-size: 20px;
        width: 100%;
        justify-content: center;
        align-items: center;
        background-color: #f0f0f0;
        margin-top: 5px;
        i {
            margin-right: 15px;
        }
    }
    .title {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #f7f7f7;
        padding: 60px 0 60px 0;
        width: 100%;
        height: 450px;
        align-items: center;
        text-align: center;
        h2 {
            font-size: 30px;
            width: 80%;
            margin: 0;
        }
        p {
            font-size: 25px;
            color: grey;
            width: 80%;
        }
        button {
            border-radius: 50px;
            background: linear-gradient($color-secondary, $color-primary);
            width: 300px;
            height: 70px;
            border: none;
            cursor: pointer;
            &:hover {
                border: 2px solid grey;
                text-decoration: underline;
                color: white;
            }
            p {
                color: white;
                font-size: 20px;
                text-align: center;
                margin-left: 30px;
                padding-bottom: 10px;
            }
        }
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    .working {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 80px;
        .block__steps {
            height: 500px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            .step {
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 100px;
                width: 90%;
                background-color: #f7f7f7;
                border-radius: 20px;
                padding-right: 25px;
                box-shadow: 5px 5px 10px #e0e0e0;
                font-size: 20px;
                .nbr {
                    color: white;
                    background-color: $color-primary;
                    border-radius: 100%;
                    padding: 5px 10px 3px 10px;
                    z-index: 1;
                    margin: 0 15px 0 -15px;
                }
            }
        }
    }
    .restaurants {
        background-color: #f7f7f7;
        width: 100%;
        display: flex;
        flex-direction: column;
        .block__card {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            height: 1100px;
            .resto__card {
                width: 90%;
                max-width: 450px;
                border-radius: 25px;
                background-color: white;
                box-shadow: 5px 5px 10px #e0e0e0;
                img {
                    object-fit: cover;
                    border-radius: 25px 25px 0 0;
                    height: 150px;
                    width: 100%;
                }
                .card_info {
                    padding-left: 20px;
                }
            }
        }
    }
}
