@keyframes page_delay {
    0% {
        opacity: 0;
    }
    99% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes spinner {
    0% {
        opacity: 1;
    }
    99% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        z-index: -1;
    }
}
@keyframes spinner_div {
    0% {
        transform: rotate(0deg);
        border-width: 10px;
    }
    50% {
        transform: rotate(180deg);
        border-width: 1px;
    }
    100% {
        transform: rotate(360deg);
        border-width: 10px;
    }
}
@keyframes prog {
    0% {
        opacity: 0;
        transform: translateY(5px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}